@import '../../../assets/styles/alignment';
@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.flowers-options{
    @include row-center-align-by-flex;
    column-gap: 50px;

    .flowers-options__option{
        @include text;

        color: $inactive-text-color;
        font-size: 16px;
        line-height: 18px;

        &:hover{
            color: $active-text-color;
        }
    }
}