@import '../../assets/styles/alignment';
@import '../../assets/styles/colors';
@import '../../assets/styles/design-items';
@import '../../assets/styles/fonts';

.second-screen {
  @include column-center-align-by-flex;
  height: 1650px;
  padding-top: 170px;

  row-gap: 100px;

  background-color: $background-primary-color;

  .second-page__header {
    @include column-center-align-by-flex;
    height: 55px;
    margin: 0 auto;
    justify-content: center;

    .second-page__header__text {
      @include header;

      font-size: 30px;
      line-height: 33px;
      letter-spacing: 0.06em;
    }

    hr {
      @include horizontal-line($active-text-color);
      height: 2px;
      width: 85px;

      margin: auto auto 0 auto;
    }
  }

  .second-page__article {
    flex: 1;
  }

  .main-page-footer {
    @include column-center-align-by-flex;

    width: 100%;
    max-width: 1820px;
    margin: 0 auto;

    row-gap: 30px;

    hr {
      @include horizontal-line(rgba(255, 255, 255, 0.2));
    }

    .main-page-footer__options {
      margin: 0 auto;

      width: 100%;
      max-width: 1000px;
    }

    .main-page-footer__social-medias {
      @include row-center-align-by-flex;
      column-gap: 50px;

      margin: 0 auto;
      max-width: 250px;
      width: 100%;
    }

    .main-page-footer__mock_bottom {

    }
  }
}