@mixin inline-align-by-flex {
    display: inline-flex;
    align-items: center;
}

@mixin row-center-align-by-flex {
    display: flex;
    flex-direction: row;
    align-content: center;
}

@mixin column-center-align-by-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
}
