$background-main-color: #FAF9F9;
$foreground-main-color: #060606;
$foreground-accent-color: #89b0ae;

@function highlight($color, $level) {
    @return adjust-color($color, $red: -5 * $level, $green: -5 * $level, $blue: -5 * $level);
}
