@import "colors";

@mixin text {
  font-family: Forum, serif;
  font-style: normal;
  font-weight: normal;
}

@mixin header {
  @include text;

  text-transform: uppercase;
  color: $active-text-color;
}